<header class="site-header">

	<div class="wrapper content--padding">
	    <div class="col grid-half">
    		<div class="logo"><h1 style=" margin: 0; padding: 0;"><a href="{{ site.baseurl }}/">Hi, I’m Mikey Cattell</a></h1></div>

    	</div>

    	<div class="col grid-half">
            <ul class="site-nav">
                <li><a href="/about/">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/all-posts/">Writing</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul> 
    	</div>

        <!--<div class="col grid-third">
       <ul class="social-icons">
            <li><a href="http://twitter.com/mikeycattell"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="http://dribbble.com/mikeycattell"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="http://instagram.com/mikeycattell"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        </div>-->       

    	<div class="clearfix height60 hide600"></div>

  		</div>
  	

</header>
