
/*------------------------------------*\
	$MEDIA QUERIES
\*------------------------------------*/

//1280px
@media screen and (min-width: $bp-xlarge)  {

}

//1080px
@media screen and (max-width: 1080px)  {

}

//960px
@media screen and (max-width: $bp-large) {

}


// custom sizes to fix mobiles


//750px iphone 6+ landscape
@media screen and (max-width: 750px) {

}


//700px iphone 6 landscape
@media screen and (max-width: 600px) {
.hide600 { display: none; }	

}


//480px
@media screen and (max-width: 600px) {
.wrapper { padding: 0 10px; }

.header-title p { padding-left: 10px; font-size: 30px; line-height: 46px; font-weight: 300; }
.header-title h1 { margin-top: 20px; }
.offset-lg-1 { margin-left: 0;}
.header-title .image-container { padding-bottom: 20px; width: 100%; }
}