
/*------------------------------------*\
	$MEDIA QUERIES
\*------------------------------------*/

//1280px
@media screen and (min-width: $bp-xlarge)  {

}

//1080px
@media screen and (max-width: 1080px)  {

}

//960px
@media screen and (max-width: $bp-large) {

}


// custom sizes to fix mobiles


//750px iphone 6+ landscape
@media screen and (max-width: 750px) {
.wrapper { padding: 0 10px; }
.header-title-gen h1:before { top: 25%; }
}

//600px
@media screen and (max-width: 600px) {
.hide600 { display: none; }	
.wrapper { padding: 0 10px; }
.header-title-gen h1 { line-height: 30px; margin-bottom: 30px; }
.header-title-gen h1:before { top: 15%; }
.header-title-gen p { font-size: 26px; line-height: 42px; font-weight: 300; }
.header-title p { padding-left: 10px; font-size: 26px; line-height: 42px; font-weight: 300; }
.header-title-work p { font-size: 26px; line-height: 42px; font-weight: 300; }
.header-title h1 { margin-top: 20px; }
.offset-lg-1 { margin-left: 0;}
.header-title .image-container { padding-bottom: 20px; width: 100%; }

.font46 { font-size: 32px; line-height: 44px; }	
.font30 { font-size: 28px; line-height: 34px; }
}