/* Ui layout only */

body{ height: 0; background: #fff; color: color-gray-dark; margin: 0 0 0 0; @include font-rempx(18); }

.col { display: block; float: left; }
.wrapper { max-width: 1140px; margin: 0 auto; padding: 0;
	@extend %clearfix;
}
ul li { margin-left: 21px; }

/*--- LINKS ---*/

a,
a:visited { color: $color-primary; text-decoration: none; word-wrap: break-word; border-bottom: 2px solid #2F75C5; }

a:focus,
a:active { color: $color-primary; text-decoration: none; }

a:hover { color: #4A89DC!important; border-color: #4A89DC!important; text-decoration: none; }

.page-content { position: relative; }


header { padding-top: 40px; background-color: #71B315; color: #fff;
    background: url("../assets/home-header.jpg");overflow: auto; height: 717px; width: 100%; background-repeat: no-repeat;
    background-position: center; 

	.logo a { font-weight: 700; border-bottom: 0px; font-size: 30px; padding-bottom: 80px; color: #fff; }
    .site-nav { float: left; display: inline-block; margin-left: 0; margin-top: 0; padding-bottom: 120px; padding-top: 8px;
        li { margin-right: 15px; list-style: none; display: inline;
            a { font-weight: 700; color: #fff; border-bottom: 0px solid $color-primary; letter-spacing: 1.4px; }
        }
    }
    h1 { font-size: 36px; font-family: 'Arvo', serif; }
    .sub-text { font-size: 18px; }
    .btn { margin-bottom: 0px}
    .header--text { margin-left: 80px }
 }

.whyloveus { margin-top: -150px;
    .box-item { background: white; border: 1px solid #EBEBEB; padding: 8px 24px 8px;  margin-bottom: 24px; min-height: 260px; }
    span { font-size: 30px; color: $color-primary; }
    h2 { font-size: 22px; padding-bottom: 8px; }
}

.howitworks { font-size: 16px; line-height: 30px; }
.howitworks--alert { margin-top: 40px; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.10), 0 10px 24px 0 rgba(0, 0, 0, 0.10); }
.whatwecando--holder { margin-top: 32px; padding: 56px 64px; border: 0.5px solid #d6d6d6; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.10), 0 10px 24px 0 rgba(0, 0, 0, 0.10); }

.signup--container { margin-top: 72px; margin-bottom: 0; margin-left: 56px;
    p.sizeup { font-size: 72px; line-height: 76px; margin-bottom: 32px; }
		.btn { margin-top: 40px; }
}


/*font styles */

h1, h2, h3, h4, h5 { font-family: 'Arvo', serif; }

h3 { font-size: 28px; margin-bottom: 16px; }


.fontarvo { font-family: 'Arvo', serif; font-style: italic; }
.strong {  }
.blue { color: #0A5FFF; }

/* font sizes */


.clearfix { content: ""; display: table; clear: both; }

/* misc style */

.site-footer { margin-top: 50px; padding: 50px 0; color: #000; background: #fff; font-size: 20px; border-top: 1px solid #d6d6d6;

    .logo a { font-weight: 700; border-bottom: 0px; font-size: 30px; padding-bottom: 10px; color: #000; }
    .site-nav { float: left; display: inline-block; margin-left: 0; margin-top: 0; padding-bottom: 20px; padding-top: 8px;
        li { margin-right: 15px; list-style: none; display: inline;
            a { font-weight: 700; color: #000; border-bottom: 0px solid $color-primary; letter-spacing: 1.4px; }
        }
    }
    h4 { font-size: 16px; }

}

ul.tick {  list-style-type: none; margin: 0px 0 16px; padding: 0;
    li {  background: url('../assets/icon--tick.png')  no-repeat 0px 3px transparent;;  list-style-image:none; margin: 0; padding: 0px 0px 16px 48px; vertical-align: middle; }
}




/* misc */

.height16 { height: 16px; clear: both; }
.height30 { height: 30px; clear: both; }
.height40 { height: 40px; clear: both; }
.height60 { height: 60px; clear: both; }

.showup750 { display: block; }
.hide750 { display: none; }

.fontgrey { color: #F6F6F6; }
.fontwhite { color: white; }

.animate_steps1 { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.animate_steps2 { -webkit-animation-delay: 1s; animation-delay: 1s;}
.animate_steps3 { -webkit-animation-delay: 1.5s; animation-delay:  1.5s; }
.animate_steps4 { -webkit-animation-delay: 2s; animation-delay: 2s ; }
.animate_steps5 { -webkit-animation-delay: 2.5s; animation-delay: 2.5s ; }
.animate_steps6 { -webkit-animation-delay: 3s; animation-delay: 3s ; }
.animate_steps7 { -webkit-animation-delay: 3.5s; animation-delay: 3.5s ; }
.animate_steps8 { -webkit-animation-delay: 4s; animation-delay: 4s ; }
